{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourcegroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvNJI+Cw9S4+xL8fdamYdvdxvnCAHD7kwPY2MHi/j18TMK4TxqqKfON0kUtw+62Tkr92BtUCXYPa5YsMTj9FS/K1Vv3Zl6GldkTnBLWW2gztPyjCy7h9zdUeiTjYIMqblteH19RTGofXo6d3rIdA3d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14925"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local\",\r\n  \"name\": \"local\",\r\n  \"type\": \"Microsoft.Backup.Admin/backupLocations\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"externalStoreDefault\": {\r\n      \"path\": \"\\\\\\\\su1fileserver\\\\SU1_Infrastructure_2\\\\BackupStore\",\r\n      \"userName\": \"azurestack\\\\azurestackadmin\",\r\n      \"password\": null,\r\n      \"encryptionCertBase64\": null,\r\n      \"encryptionCertThumbprint\": \"BDB07F879C1F1A05B74EB43AEAF5E5B5F84DCEA8\",\r\n      \"backupFrequencyInHours\": 10,\r\n      \"availableCapacity\": \"29.6 TB\",\r\n      \"isBackupSchedulerEnabled\": false,\r\n      \"nextBackupTime\": \"2018-08-28T17:26:00.9454387Z\",\r\n      \"lastBackupTime\": \"2018-08-28T07:47:11.3081476Z\",\r\n      \"backupRetentionPeriodInDays\": 6\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourcegroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local?api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"externalStoreDefault\": {\r\n      \"path\": \"\\\\\\\\su1fileserver\\\\SU1_Infrastructure_2\\\\BackupStore\",\r\n      \"userName\": \"azurestack\\\\azurestackadmin\",\r\n      \"password\": \"password\",\r\n      \"encryptionCertBase64\": \"encryptionCert\",\r\n      \"backupFrequencyInHours\": 10,\r\n      \"isBackupSchedulerEnabled\": false,\r\n      \"backupRetentionPeriodInDays\": 6\r\n    }\r\n  },\r\n  \"location\": \"local\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.local.azurestack.external/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/9dff3fd4-b193-40f2-b267-215dcd2d08c0?api-version=2018-09-01"
        ],
        "Retry-After": [
          "5"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvYYB5g2dEQFHShy4g6e23EJd9rKvOaal2EslKPfcsIOq106IbA3fzNATqUcdMmNa/wjWBrCUerScki7mCCDPQCeux16mlJFsnczm29nEMqoEr8ftSOBwJOv/MWvgb88hfZee4UWcTd3FoBBIgY0dx"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/9dff3fd4-b193-40f2-b267-215dcd2d08c0?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvqEJZi65VXh7GamP/rfehvXokRJLP+9kuIb2AwtMJtRVMpYgUdM8nX/+bALO5PSerU+nQ9vHVgNQzb9JRM7lRh4hn7b0yCRHBj94goSR9Ojz4mk6sT0JGwx/7DSdbE0wzAFencUFF6JlnfN1lo71s"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14924"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local\",\r\n  \"name\": \"local\",\r\n  \"type\": \"Microsoft.Backup.Admin/backupLocations\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"externalStoreDefault\": {\r\n      \"path\": \"\\\\\\\\su1fileserver\\\\SU1_Infrastructure_2\\\\BackupStore\",\r\n      \"userName\": \"azurestack\\\\azurestackadmin\",\r\n      \"password\": null,\r\n      \"encryptionKeyBase64\": null,\r\n      \"encryptionCertBase64\": null,\r\n      \"encryptionCertThumbprint\": \"BDB07F879C1F1A05B74EB43AEAF5E5B5F84DCEA8\",\r\n      \"backupFrequencyInHours\": 10,\r\n      \"availableCapacity\": \"29.6 TB\",\r\n      \"isBackupSchedulerEnabled\": false,\r\n      \"nextBackupTime\": \"2018-08-28T17:26:00.9454387Z\",\r\n      \"lastBackupTime\": \"2018-08-28T07:47:11.3081476Z\",\r\n      \"backupRetentionPeriodInDays\": 6\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
