{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourcegroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/createBackup?api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.local.azurestack.external/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/64e8625a-8dc0-49df-a195-932901b4be81?api-version=2018-09-01"
        ],
        "Retry-After": [
          "60"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv4ow1qXzhLbvKn0tfengMrSG2CROCpZuetyAVh0BKBOk/sruYDKVkfVISZTu0J3cmGRpSS1fIu2DxdvIjaDXkKExa/GIGekWuhtsJ4qabOAZN3ZBvSlFCGQog/ycbV8rNBnOmOXq15FjEXNGtnC3E"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/64e8625a-8dc0-49df-a195-932901b4be81?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.local.azurestack.external/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/64e8625a-8dc0-49df-a195-932901b4be81?api-version=2018-09-01"
        ],
        "Retry-After": [
          "60"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvD0TKK/XEg4w8RWZVGl5d1ew4UIFibmYojKLelLEjPN4YaKu/41kufeJvqnkXuqtcd/jzd3UJkLfGlbrCH/oKfColkD5X1h2A9wrWXqwdaI5/jZBADKhUy9jLKHXCSZ2NTXUjjOTwQJ08FRKew9Qz"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14947"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/64e8625a-8dc0-49df-a195-932901b4be81?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvHXkpvNACthLkqcDCW0DQ//mm6Ov/FlUM8JuY/OOvJlt+fPUaa8NejmQssBEZNv4LBpB9MDeiFJSMpghABbYuckZjKMQ7ngrb2G1MahamMbAE+sv+SJwThH3b8EXX7r5df2UXtx3uocBNJ0anbZEy"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14932"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/64e8625a-8dc0-49df-a195-932901b4be81\",\r\n  \"name\": \"local/64e8625a-8dc0-49df-a195-932901b4be81\",\r\n  \"type\": \"Microsoft.Backup.Admin/backupLocations/backups\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"backupInfo\": {\r\n      \"backupDataVersion\": \"1.0.1\",\r\n      \"backupId\": \"64e8625a-8dc0-49df-a195-932901b4be81\",\r\n      \"roleStatus\": [\r\n        {\r\n          \"roleName\": \"NRP\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"SRP\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"CRP\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"KeyVaultInternalControlPlane\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"KeyVaultInternalDataPlane\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"KeyVaultControlPlane\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"KeyVaultDataPlane\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"KeyVaultNamingService\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"WAS\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"ECE\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"Domain\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"CA\",\r\n          \"status\": \"Succeeded\"\r\n        },\r\n        {\r\n          \"roleName\": \"ACS\",\r\n          \"status\": \"Succeeded\"\r\n        }\r\n      ],\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2018-08-28T07:47:11.3081476Z\",\r\n      \"timeTakenToCreate\": \"PT20M48.5970829S\",\r\n      \"stampVersion\": \"1.1809.0.25\",\r\n      \"oemVersion\": null,\r\n      \"deploymentID\": \"d3236bc0-6a46-4877-a9da-6fe69e9661df\",\r\n      \"encryptedBackupEncryptionKey\": \"encryptionKey\",\r\n      \"encryptionCertThumbprint\": \"BDB07F879C1F1A05B74EB43AEAF5E5B5F84DCEA8\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
