{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourcegroups/System.local/providers/Microsoft.Backup.Admin/backupLocations?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvIusNwFxWGZRDQ5U9lmZbLSocBX3rip9IbwePij6PjrMtKk+Z6d5xpJUltWTHH0Ujmophss+scFwZDwUYSF6dV239mYU+Kjx8+7WY59Cfhb2xxALGqciWy7rmM/Yhqsn46K3Y7lwnFNYEcdW+8E/U"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14930"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/7131701b-2e8f-4c9e-a67b-aef214d50719/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local\",\r\n      \"name\": \"local\",\r\n      \"type\": \"Microsoft.Backup.Admin/backupLocations\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"externalStoreDefault\": {\r\n          \"path\": \"\\\\\\\\su1fileserver\\\\SU1_Infrastructure_2\\\\BackupStore\",\r\n          \"userName\": \"azurestack\\\\azurestackadmin\",\r\n          \"password\": null,\r\n          \"encryptionCertBase64\": null,\r\n          \"encryptionCertThumbprint\": \"BDB07F879C1F1A05B74EB43AEAF5E5B5F84DCEA8\",\r\n          \"backupFrequencyInHours\": 10,\r\n          \"availableCapacity\": \"29.6 TB\",\r\n          \"isBackupSchedulerEnabled\": false,\r\n          \"nextBackupTime\": \"2018-08-28T17:26:00.9454387Z\",\r\n          \"lastBackupTime\": \"2018-08-28T07:47:11.3081476Z\",\r\n          \"backupRetentionPeriodInDays\": 6\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "7131701b-2e8f-4c9e-a67b-aef214d50719"
  }
}