{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Backup.Admin/operations?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvB56WSrA1x1djIOGCXQGVUCIzQf++VPktlvNk6galFnkFhNajYbbqbCJ5oeqAlcj84DqPCQ5zDzw8QHxbDLfAb1OKy4hbOGvCCUwwE1mpUtPCLlbx0CLl31rG+JPLSaymeXRepE6AIUqe7u3pdmyr"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14971"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Backup.Admin/backupLocations/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Backup Resource Provider.\",\r\n        \"resource\": \"Backup location\",\r\n        \"operation\": \"Returns backup locations\",\r\n        \"description\": \"Location where backups are saved.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Backup.Admin/backupLocations/createBackup/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Backup Resource Provider.\",\r\n        \"resource\": \"Backup\",\r\n        \"operation\": \"Create a new backup\",\r\n        \"description\": \"Create a new backup.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Backup.Admin/backupLocations/backups/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Backup Resource Provider.\",\r\n        \"resource\": \"Backup\",\r\n        \"operation\": \"Get a backup\",\r\n        \"description\": \"Gets the backups.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Backup.Admin/backupLocations/backups/restore/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Backup Resource Provider.\",\r\n        \"resource\": \"Backup\",\r\n        \"operation\": \"Restore a backup.\",\r\n        \"description\": \"Restore a previous backup.\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "7131701b-2e8f-4c9e-a67b-aef214d50719"
  }
}